.container {
  max-width: 70%;
  background-color: rgb(146, 185, 165);
  border: 1px solid;
  border-radius: 5px;
  border-color: black;
  font-family: cursive;
  padding: 10px;
  margin: 20px auto;
}
input {
  font-size: 13px;
}
.form-group {
  display: inline;
}
form .button {
  padding: 0;
  display: inline;
}

h5 {
  padding: 0;
}
.currentCity {
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0;
}
p {
  font-size: 13px;
  margin-bottom: 0px;
}

#current-time {
  padding-top: 8px;
}

.temperatureEmoji,
.precipitation,
.wind,
.allergy,
.running,
.fishing,
.humidity,
.currentTemp {
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.sky {
  text-transform: capitalize;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.unitsFC {
  vertical-align: super;
}

.unitsFC .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.unitsFC .active:hover {
  text-decoration: none;
}

.currentLocation button {
  padding: 0;
  border-width: 1px;
  margin: 0 10px;
  display: inline;
  background: rgb(193, 193, 204);
  box-shadow: 1px 1px 1px;
  font-size: 15px;
}
form {
  display: inline;
}

.TodaysForecast {
  font-size: 11px;
  text-align: left;
}
tbody {
  text-align: center;
}
tr {
  line-height: 1px;
}
.forecast {
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.7;
  border: 0;
  padding: 0;
}
.forecast .col-sm {
  padding: 0;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0 auto;
}

.forecast .card-title {
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.forecast .card-text {
  padding: 4px;
  font-size: 4px;
}
.card-text .low,
.high,
.rain {
  font-size: 8px;
  display: inline-block;
}
.card-text .low {
  background: blue;
  color: white;
}
.card-text .high {
  background: red;
  color: white;
}
a {
  color: rgb(24, 24, 241);
}
