.container {
  max-width: 70%;
  background-color: rgb(146, 185, 165);
  border: 1px solid;
  border-radius: 5px;
  border-color: black;
  font-family: cursive;
  padding: 10px;
  margin: 20px auto;
}
input {
  font-size: 13px;
}
.form-group {
  display: inline;
}
form .button {
  padding: 0;
  display: inline;
}

h5 {
  padding: 0;
}
.currentCity {
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0;
}
p {
  font-size: 13px;
  margin-bottom: 0px;
}

#current-time {
  padding-top: 8px;
}

.wind,
.humidity,
.currentTemp {
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.sky,
.feelsLike {
  text-transform: capitalize;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.unitsFC {
  vertical-align: super;
}

.unitsFC .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.unitsFC .active:hover {
  text-decoration: none;
}

.currentLocation button {
  padding: 0;
  border-width: 1px;
  margin: 0 10px;
  display: inline;
  background: rgb(132, 132, 224);
  box-shadow: 1px 1px 1px;
  font-size: 15px;
}
form {
  display: inline;
}

.todaysForecast {
  font-size: 11px;
  text-align: left;
}
.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(94, 55, 55);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 35px;
  border: 5px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature,
.forecastHumidity {
  text-align: center;
  color: rgb(94, 55, 55);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
.forecastHumidity {
  padding: 2px;
  font-size: 10px;
  font-weight: 400;
}
.closing {
  padding-top: 15px;
  color: rgb(3, 3, 41);
}
